* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
  /* overflow: hidden; */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 40px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

/* Myntra logo */
.nav-logo img {
  height: 45px;
  width: auto;
}

/* Navigation links */
.nav-ops {
  display: flex;
  gap: 25px;
}

.nav-ops a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
}



.add-first  {
  border-bottom: 3.5px solid #ff3f6c;
}
.men:hover{
    color:#ff3f6c ;
}

.add-second  {
    
  border-bottom: 3.5px solid pink;
}
.men:hover{
    color:pink ;
}
.add-third  {
    
  border-bottom: 3.5px solid orange;
}
.men:hover{
    color:orange ;
}
.add-fourth  {
    
  border-bottom: 3.5px solid yellow;
}
.men:hover{
    color:yellow ;
}
.add-fifth  {
    
  border-bottom: 3.5px solid aqua;
}
.men:hover{
    color:aqua ;
}
.add-sixth  {
    
  border-bottom: 3.5px solid yellowgreen;
}
.men:hover{
    color:yellowgreen ;
}
.add-seventh {
    
  border-bottom: 3.5px solid plum;
}
.men:hover{
    color: plum;
}


/* Search bar */
.nav-search {
  display: flex;
  align-items: center;
  background-color: #f5f5f6;
  border-radius: 4px;
  overflow: hidden;
  width: 350px;
}

.nav-search input {
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  width: 98%;
  font-size: 14px;
}

.nav-search button {
  border: none;
  background: transparent;
  color: #696e79;
  padding: 0 10px;
  cursor: pointer;
}

/* Icons */
.nav-icons {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 11px;
  color: #282c3f;
  height: 40px;
  width: 194px;
  margin-left: 10px;
  font-family: "Segoe UI", Arial; 
  font-weight: 600; 
  
}


.add-first1{
  border-bottom: #ff3f6c 3px solid;
  
}

.add-second2{
  border-bottom: rgb(124, 155, 74) 3px solid;
  
}

.add-Third3{
  border-bottom: #bc92d0 3px solid;
  
}
.hero-section {
    background-image: url("./images/myntrahero.jpg");
    background-size: cover;
    height: 430px;
    width: 1550px;

    
}

.hero-section2  {
  background-image: url("./images/hero2.jpg");
  background-size: cover;
  height: 150px;
  width: 1550px;
}



.cross-section{
   position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0%;
    width: 98%;
    font-size: 10px;
    color: #7e818c;
    box-sizing: inherit;
   
    height: 40px;
    font-family: monospace;  
}

.banner-section{
    position: absolute;
    display: flex;
    text-align:center;
    color: #3e4152;
    /* margin: 50px 0 10px 30px; */
    font-weight: 700;
    width: 98%;
    letter-spacing: 5px;
    font-size: 25px;
    height: 50px;
    width: 2rem;
    padding-top: 2rem;
    padding-bottom: 20rem;
    margin: px;
    border: #ff3f6c;

}



.box-img , .box {
    
    height: 400px;
    width: 312px;
    background-size: cover;
    /* margin-top: 5rem; */
    /* margin-top: 5rem; */
    /* border: 1px solid red; */
}

.ShopSection {
    display: flex;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* justify-content: space-between; */
    /* margin-top: 1rem; */
    margin-top: 1rem ;
    /* background-color: rgb(146, 93, 30); */
    /* border:  1px solid black; */
   
}

.cross-section2{
  position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0%;
    width: 98%;
    font-size: 10px;
    color: #7e818c;
    box-sizing: inherit;
    /* margin: ; */
    margin-bottom: 10rem;
    margin-top: 10rem;
    height: 40px;
    font-family: monospace;
}


.ShopSection2 {
    display: flex;
    padding-top: 20px;
    padding-bottom: 15px;
    box-sizing: border-box;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* justify-content: space-between; */
    /* margin-top: 1rem; */
    
    /* border:  1px solid black; */
}

.box-img2 , .box {
    
    height: 390px;
    width: 307px;
    background-size: cover;
    /* margin-top: 5rem; */
    /* margin-top: 5rem; */
    /* border: 1px solid red; */
}


.hero-section3 {
  background-image: url("./images/hero3.webp");
  background-size: cover;
  height: 150px;
  width: 1550px;
  margin-top: 1rem;
}

.ShopSection2 {
    display: flex;
    padding-top: 20px;
    padding-bottom: 15px;
    box-sizing: border-box;
}

.box-img3 , .boxx :hover


 {
  
    
    height: 280px;
    width: 225px;
    background-size: cover;
    display: flex;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    justify-content: space-between;
    /* gap: 50rem; */
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: #f5f5f6;
    /* padding: 10px; */
    /* text-align: center; */
    /* padding: 20px 0px 15px; */
        /* margin-top: 15px; */
/* height: 300px; */
    /* background-size: cover; */
    /* margin-top: 1rem; */
    /* margin-top: 1rem; */
    /* padding-right: 2rem; */
    /* margin-top: 5rem; */
    /* margin-top: 5rem; */
    /* border: 1px solid red; */

}

.hover,.box-img3 , .boxx {
  /* color; */
  border-style: 3px solid blue;
}

.rectangle{
  display: flex;
height: 500px;
width:98%;
border:1px solid red;
justify-content: space-evenly;
}
.d1{
  height: 100%;
  width:20%;
  border:2px solid green;
}
/* ======================================================== */
.d1 ul{
  display: flex;
  flex-direction: column;
}
.d1>ul> p{
  font-weight: bold;
  padding-bottom: 15px;
}
.d1>ul> a{
  /* font-weight: bold; */
  padding-bottom: 3px;
}

/* ====================================================== */
.d2{
  height: 100%;
  width:20%;
  border:2px solid aqua;
}

.d3{
  height: 100%;
  width:20%;
  border:2px solid pink;
}

.d4{
  height: 100%;
  width:20%;
  border:2px solid orange;
}







